* {
  box-sizing: border-box;
}
:root {
  background-color: white;
  display: grid;
  justify-content: center;
  place-items: center;
  height: 100vh;
}
img,
p {
  margin: 0%;
  padding: 0%;
}
.container {
  box-shadow: 1px 1px 20px 0px hsla(241, 100%, 89%, 72%);
  border-radius: 30px;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 25em;
  width: 38em;
  font-family: "Hanken Grotesk", sans-serif;
}
.scoreDetails {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  height: inherit;
  width: 19.5em;
}
.scoreCard {
  height: inherit;
  width: 20.5em;
  border-radius: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  background: linear-gradient(180deg, hsl(252, 100%, 67%), hsl(241, 81%, 54%));
}
.counter {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 10em;
  width: 10em;
  border-radius: 50%;
  background: linear-gradient(
    180deg,
    hsla(256, 72%, 46%, 1),
    hsla(241, 72%, 46%, 0)
  );
}
.scoreFeed {
  font-size: 16px;
  text-align: center;
  text-wrap: balance;
  color: hsl(0, 0%, 100%, 65%);
  padding: 0 0.5em;
  margin-bottom: 1em;
}
/*--------------------details------------------------*/
.common {
  display: flex;
  justify-content: center;
  align-items: center;
  /* outline: solid 1px red; */
  width: 15em;
  height: 2.5em;
  border-radius: 10px;
  position: relative;
}
.reaction {
  color: hsl(0, 100%, 67%);
  background-color: hsl(0, 100%, 67%, 10%);
}
.Memory {
  color: hsl(39, 100%, 56%);
  background-color: hsl(39, 100%, 56%, 8%);
}
.Verbal {
  color: hsl(166, 100%, 37%);
  background-color: hsl(166, 100%, 37%, 10%);
}
.Visual {
  color: hsl(234, 85%, 45%);
  background-color: hsl(234, 85%, 45%, 10%);
}
.summary {
  font-size: 18px;
  font-weight: 600;
  margin-right: 8.5em;
  letter-spacing: 1px;
  color: hsl(224, 30%, 27%);
}
/*-------------------------Button-------------------*/
.btn {
  height: 2.5em;
  width: 13em;
  border: none;
  border-radius: 50px;
  color: white;
  font-size: 18px;
  background-color: hsl(224, 30%, 27%);
  font-family: "Hanken Grotesk", sans-serif;
  cursor: pointer;
}
.btn:active {
  background: linear-gradient(hsl(252, 100%, 67%), hsl(241, 81%, 54%));
}
.review {
  display: flex;
  font-weight: 600;
  margin-left: 10em;
  justify-content: space-around;
  align-items: center;
  flex-basis: 3.9em;
}
/*-----------------------MediaQuery--------------------*/

@media (width<=375px) {
  .container {
    height: 45em;
    width: auto;
    flex-direction: column;
    border-radius: 0 0 30px 30px;
  }
  .scoreCard {
    border-radius: 0 0 30px 30px;
  }
}
